// Theme Colors.
// =============================================================================
//
// Blue theme colors.
// -----------------------------------------------------------------------------
$theme-blueDark: #254E70;
$theme-blue: #37718E;
$theme-blueLight: #3B8EA5;
$theme-bluePale: #8EE3EF;
// Green theme colors.
// -----------------------------------------------------------------------------
$theme-greenDark: #95A07A;
$theme-green: #9CC69B;
$theme-greenLight: #BDE4A8;
$theme-greenPale: #AEF3E7;
//
//
// Other colors.
// =============================================================================
//
// Grayscale.
// -----------------------------------------------------------------------------
$black: #000000;
$neutralDark: #212121;
$neutralPrimary: #333333;
$neutralPrimaryAlt: #3c3c3c;
$neutralSecondary: #666666;
$neutralTertiary: #a6a6a6;
$neutralTertiaryAlt: #c8c8c8;
$neutralLight: #eaeaea;
$neutralLighter: #f4f4f4;
$neutralLighterAlt: #f8f8f8;
$white: #ffffff;
//
// Base colors.
// -----------------------------------------------------------------------------
$red: #D14336;
$orange: #F49E4C;
$yellow: #F5EE9E;
//
// Blockers / opacity.
// -----------------------------------------------------------------------------
$light-blocker: rgba(255, 255, 255, 0.85);
$dark-blocker: rgba(0, 0, 0, 0.85);