// Pantry Theme Colors

// Blue theme colors.
$color-themeBlueDark:  #254E70;
$color-themeBlue:      #37718E;
$color-themeBlueLight: #3B8EA5;
$color-themeBluePale:  #8EE3EF;

// Green theme colors.
$color-themeGreenDark:  #95A07A;
$color-themeGreen:      #9CC69B;
$color-themeGreenLight: #BDE4A8;
$color-themeGreenPale:  #AEF3E7;

// Grayscale.
$color-black:              #000000;
$color-neutralDark:        #212121;
$color-neutralPrimary:     #333333;
$color-neutralPrimaryAlt:  #3c3c3c;
$color-neutralSecondary:   #666666;
$color-neutralTertiary:    #a6a6a6;
$color-neutralTertiaryAlt: #c8c8c8;
$color-neutralLight:       #eaeaea;
$color-neutralLighter:     #f4f4f4;
$color-neutralLighterAlt:  #f8f8f8;
$color-white:              #ffffff;

// Base colors.
$color-red:    #D14336;
$color-orange: #F49E4C;
$color-yellow: #F5EE9E;

// Blockers / opacity.
$color-opacityWhite40: rgba(255, 255, 255, 0.4);
$color-opacityBlack40: rgba(0, 0, 0, 0.4);